main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 8px;
    border: 0px solid #0a0a0a;
    padding: 17px;
    width: 278px;
    margin: 20px;
    min-height: 450px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 25px  rgba(0, 0, 0, 0.6);
    perspective: 1000px;
}
  
.card:hover {
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.7);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* parralax effect
.card #content {
    transform: translateZ(10px);
}
*/

#errors.show{
    color: red;
    transform-style: preserve-3d;
    border-radius: 8px;
    border: 0px solid #0a0a0a;
    padding: 17px;
    margin: 20px;
    box-shadow: 0px 6px 25px  rgba(0, 0, 0, 0.6);
}

/* set heightið sem max en set width sem 0 til að víkka það svo */
#loader-bar {
    height: 100%;
    width: 0%;
    background: #3498db;
    transition: width 0.5s ease;
    z-index: 2001;  
}

/* Set overlay parent elementið til að filla allan skjáinn, og stilli einnig transition fyrir opacity*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2000;
    transition: opacity 2s ease;
}
  
/* Þegar ég bæti við hidden klasanum þá fadear opacity út af parent opacity elementinu*/
#overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    main {
        gap: 20px;
        padding: 20px;

    }
}